@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .bg-beer-foam {
        @apply bg-[url(../images/texture.png)];
    }

    body {
        @apply font-sans;
        @apply bg-white;
        /*@apply bg-beer-foam;*/
    }

    h1, h2, h3, h4 {
        @apply font-fira-mono tracking-tight;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-3xl font-medium;
    }

    h3 {
        @apply text-xl font-bold;
    }
}

@layer components {
    .card {
        @apply p-4 bg-deep-basalt/5 rounded-md
    }
}

@layer utilities {
    .bg-fade-to-top {
        mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    }
}